langchain
ipykernel
python-dotenv
langchain_community
pypdf
beautifulsoup4 
lxml
arxiv
pymupdf
wikipedia
langchain-openai
chromadb
langchain_huggingface
sentence-transformers
faiss-cpu
langchain_chroma
langchain-openai
beautifulsoup4